.about-page {
  min-height: 100vh;
  background-color: #F4F4F4;
}

.about-page-content {
  margin-top: 100px;
  padding: 3rem;
  position: relative;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.about-page-content h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Noto Serif SC', serif;
  font-weight: 400;
  color: #000000;
  -webkit-text-stroke: 1.5px black;
}

.about-page-content h2 {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'EB Garamond', serif;
  font-variant: small-caps;
  font-weight: 600;
  color: #000000;
  -webkit-text-stroke: 0.5px black;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #000000;
  text-align: center;
  padding-top: 50px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.text-chinese {
  font-family: 'Noto Serif SC', serif;
  display: inline;
}

.text-english {
  margin-top: 20px;
  font-family: 'EB Garamond', serif;
  display: inline;
  line-height: 1.2;
  font-variant: normal;
}

.colophon {
  font-size: 12px;
  font-family: 'Noto Serif SC', serif;
  margin-top: 250px;
  padding-top: 110px;
  border-top: 1px solid #000000;
  margin-bottom: 300px;
  font-variant: normal;
}

.colophonheader {
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  font-variant: small-caps;
  font-weight: 600;
}
