.envelope-export-button {
  padding: 0.75rem 1.5rem 10px 1.5rem;
  font-size: 14px;
  background-color: #000000;
  color: #f4f4f4;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  font-variant: small-caps;
  font-weight: 600;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  margin-top: 1rem;
}

.envelope-export-button div:first-child {
  font-size: 16px;
  font-family: 'Noto Serif SC', serif;
  font-variant: normal;
  -webkit-text-stroke: 0.3px #f4f4f4;
  margin-top: 3px;
  margin-bottom: -3px;
}

.envelope-export-button:hover:not(:disabled) {
  background-color: #6F0000;
  color: white;
}

.envelope-export-button:active:not(:disabled) {
  transform: translateY(1px);
}

.envelope-export-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
