/* NZGR Kangxi - Local Font */
@font-face {
  font-family: 'NZGR Kangxi';
  src: url('./nzgrKangxi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* EB Garamond - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Noto Serif SC - Google Fonts (already added via link in index.html) */
/* CSS classes for Noto Serif SC */
.noto-serif-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-sc-light {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.noto-serif-sc-regular {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-sc-medium {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-serif-sc-semibold {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-serif-sc-bold {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-sc-black {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Utility classes for easy use */
.font-kangxi {
  font-family: 'NZGR Kangxi', serif;
}

.font-garamond {
  font-family: 'EB Garamond', serif;
}

.font-noto-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
}
